.Rproj.user
.Rproj.user/
.Rhistory
.Rdata
.Rapp.history
.RDataTmp
.Ruserdata
.Renviron
*-Ex.R
/*.Rcheck/
/*.tar.gz
*.utf8.md
*.knit.md
.httr-oauth
.DS_Store
.quarto
inst/doc
vignettes/*.html
vignettes/*.pdf
vignettes/*.R
**/.quarto/
/*_cache/
/cache/
/*_files/
docs/
