.Rproj.user
.Rproj.user/
.Rhistory
.Rdata
.Rapp.history
.RDataTmp
.RData
.Ruserdata
.Renviron
*-Ex.R
/*.Rcheck/
/*.tar.gz
*.utf8.md
*.knit.md
.httr-oauth
.DS_Store
.quarto
inst/doc
vignettes/*.html
vignettes/*.pdf
vignettes/*.R
vignettes/articles/*.html
vignettes/articles/*.pdf
vignettes/articles/*.R
vignettes/.quarto/
vignettes/_freeze/
vignettes/articles/.quarto/
vignettes/articles/_freeze/
*/.quarto/
/*_cache/
/cache/
*_cache/
/*_files/
docs/
docs
/doc/
/Meta/

/.quarto/
